<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit comment</title>
</head>
<body>
    <h1>Edit the comment</h1>
    <form method="post" action="/comments/<%= comment.id %>?_method=PATCH">
        <div>
            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment" rows="5" cols="30" required>
               <%= comment.comment %> 
            </textarea><br>
        </div>
        <div>
            <button type="submit">Save comment</button>
        </div>
    </form>
        
       
      
</body>
</html>