<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>make comment</title>
</head>
<body>
    <h1>Make a comment</h1>
    <form action="/submit" method="post">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
        </div>
        <div>
            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment" rows="5" cols="30" required></textarea><br>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>